* {
    padding: 0;
    margin: 0;
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-bottom: 2rem;
}

.imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;   
}

.imagens__zoom:hover {
    zoom: 1.4;
}

