* {
    padding: 0;
    margin: 0;
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-bottom: 2rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagens {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;   
}

.imagens__zoom:hover {
    zoom: 1.4;
} 

.imagens-principal {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-right: 13rem;
}

